.App {
  text-align: center;
  background: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.detailsSection {
  background: lightgray;
  margin-top: 15px;
}

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #f9d71c;
  background: black;
  padding: 4vh;
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 20px;
  background: #f9d71c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: lightgrey;
  text-decoration: none;
}
